*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: crimson;
}
.card{
    width: 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}
/*Scrollbar*/
::-webkit-scrollbar{
    background-color: teal;
    width: 10px;
    /* border: 2px dashed white; */
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#0093E9, #80D0C7);
    border-radius: 100px;

}